$theme-colors: (
  "primary": #4395ff,
);

$primary: #4395ff;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

html, #root{
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none !important;
}

.layout{
  min-height: calc(100vh - 60px);
  margin-top: 60px;
}

.loaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.overlayContainer{
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  position: fixed;
  background-color: #00000082;
  width: 100%;
  z-index: 9999;
  display: flex;
}

.navbar{
  background: $primary;
  -webkit-box-shadow: 0px 15px 30px -26px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 15px 30px -26px rgba(0,0,0,0.66);
  box-shadow: 0px 15px 30px -26px rgba(0,0,0,0.66);
}

.site-navigation, .trans-navigation {
  padding: 0px 0px;
}

.nav-link {
  color: #fff !important;
}

.navbar-toggler{
  border-color: none !important;
}

@media (max-width: 575.98px){

  .floorPlan table {
    table-layout: auto !important;
  }

  .trans-navigation {
    padding: 0px 10px;
  }

  .navbar-toggler-icon {
    height: auto;
    padding: 10px 0px;
    color: #FFF;
  }
}

.country-selector{
  height: 38px;
  border-color: #bebebe;
  padding: 5px 10px;
}

.registerContainer{
  transition: all .3s;
  .card{
    position: absolute;
    width: 100%;
    padding: 35px;
  }
}

.loginContainer{
  transition: all .3s;
  min-height: 600px;
  .card{
    position: absolute;
    width: 100%;
    padding: 35px;
  }
}

.slideLeft{
  transform: translate(-1200px, 0px);
  transition: all .3s;
}

.otpInput{
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 0px 10px;
}

.otpContainer{
  display: flex;
  justify-content: center;
}

.btnContainer{
  display: flex;
  justify-content: space-between;
  .btn{
    width: 50%;
    margin: 0px 10px;
    box-sizing: border-box;
  }
}

.link{
  color: #4395ff;
  cursor: pointer;
  &:hover {
    color: #006bf6;
  }
}

.loginLayout{
  margin-bottom: 60px;
}

.display-none{
  display: none;
}

.resendOtpContainer{
  text-align: center;
  display: flex;
  align-items: baseline;
  justify-content: center;
  p{
    display: inline;
    margin: 0;
  }
}

#eventsList{
  .col-sm-3{
    padding: 0px 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .row{
    padding: 0px 5px;
  }
  .card{
    transition: all .3s;
    border: none;
    &:hover{
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
  }
} 

#event-detail{
  img.image{
    width: 100%;
    background-color: #CCC;
  }
}

.detailContainer{
  position: relative;
  min-height: 400px;
}

.getDetails{
  background-color: #FFF;
  position: absolute;
}

.ck.ck-content{
  height: 400px;
}

.exhibitorContents{
  position: absolute;
  width: 100%;
}

.floorPlan{

  table{
    table-layout: fixed;
  }
  td{
    text-align: center;
  }
  .table-light{
    background-color: #f6f6f6;
  }

  .table tbody td:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
  }

  .table tbody td.table-light:hover{
    background-color: #f6f6f6;
  }
  
  .table tbody td.table-danger:hover{
    background-color: #f5c6cb;
    cursor: auto;
  }

  .table td.active{
    background-color: #bcbaeb;
  }

  .table tbody td.table-warning:hover{
    background-color: #ffeeba;
    cursor: not-allowed;
  }

  .table tbody td.table-success:hover{
    background-color: #c3e6cb;
  }
}

.btnLRContainer{
  display: flex;
  justify-content: space-between;
}

.selectPackage{
  .form-check{
    padding: 10px 20px;
  }
  .form-check-input{
    margin-top: 5px;
    margin-right: 10px;
  }
  .checkLabelContainer{
    display: flex;
    flex-direction: column;
  }
}

.selectPackageVisitor{
  .form-check{
    padding: 10px 0px;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  transition: all .3s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #FFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all .3s;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {background-color: #eee; transition: all .3s;}
.dropdown:hover .dropdown-content {visibility: visible; transition: all .3s;}

.nav-icon{
  margin-right: 5px;
}

.dropdown .nav-link{
  display: flex;
}

.heartContainer{
  position: absolute !important;
  right: 10px;
  top: -5px;
  z-index: 2;
  cursor: pointer;
  padding: 10px;
}

.divider{
  height: 1px;
  background-color: #f6f6f6;
  margin: 10px 0px;
}

.viewEvent{
  td{
    cursor: pointer;
    text-align: center;
  }
  .col-disable{
    cursor: default;
  }
  td.table-light, td.table-danger{
    cursor: auto;
  }
}

.ck-content .image-style-side {
  max-width: 50%;
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

.ck-content .image.image_resized {
  max-width: 100%;
}

.ck-content .image.image_resized {
  display: block;
  box-sizing: border-box;
}

.ck-content .image.image_resized img {
  width: 100%;
}

.ck-content .image.image_resized > figcaption {
  display: block;
}

.stallDetail{
  .image{
    width: 100%;
  }
  .contactImage{
    height: 40px;
    width: 40px;
    filter: grayscale(1);
    transition: all .3s;
  }
  .d-flex{
    &:hover{
      .contactImage{
        filter: none;
      }
    }
    .logo{
      height: 55px;
    }
  }
}

.tickets{
  .card-img{
    width: 50px;
    padding: 5px;
  }
}

#eventsList{
  .card-img{
    width: 100%;
    max-height: 245px;
    min-height: 245px;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.stall-logo{
  width: 50px;
  height: 50px;
}

.stall-cover{
  width: 100%;
  height: 1080px;
}

.yourEvents{
  .card-img{
    max-height: 110px;
  }
}

.login-img{
  width: 70%;
}

.expo-body{
  min-height: 700px;
}

#exhibitorBuyTicket.stallLayout{
  min-height: 3130px;
}

#exhibitorBuyTicket.stallLayoutSmall{
  min-height: 700px;
}

#exhibitorBuyTicket{
  min-height: 1800px;
}

.coverImg{
  width: 100%;
}

.registerContainer{
  min-height: 1250px;
}

.userName{
  color: #FFF;
}

.btn-primary{
  @extend .grad-2-still;
}

.btn-secondary{
  @extend .grad-1-still;
}

/*--------------------------
 FOOTER
----------------------*/
#footer {
  padding-bottom: 30px;
  position: relative;
  background: url('./assets/img/footer.png');
  background-repeat: no-repeat;
  padding-top: 300px;
}

.footer-widget ul li {
  padding: 5px 0px;
}

.footer-widget p {
  margin-bottom: 5px;
  color: #FFF;
}

#footer ul{
  list-style: none;
  padding: 0px;
}

.footer-widget h4 {
  margin-bottom: 20px;
  color: #FFF;
}

.footer-widget h4 span {
  color: #4395ff;
  display: block;
  font-size: 60px;
  line-height: 60px;
}

.footer-blog li img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

.footer-blog li h5 {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}

.footer-blog li a.read-more {
  font-size: 13px;
}

.footer-blog li {
  margin-bottom: 15px;
}

.footer-copy {
  letter-spacing: 1px;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #eee;
  color: #FFF;
}

.footer-text h6 {
  margin-bottom: 10px;
}

.footer-text p span {
  color: #FFF;
  font-weight: 700;
}

.footer-text p.mail {
  color: #FFF;
}

.bg-main {
  background: #F4F8FB;
}

.footer-widget a {
  color: #FFF;
}

.grad-1-still{
  background-image: -webkit-linear-gradient(to right, #4facfe 0%, #00f2fe 100%) !important;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) !important;
  transition: .5s;
  border: none;
}

.grad-1-still.ebutton:hover{
  background-image: -webkit-linear-gradient(to right, #00f2fe 0%, #4facfe 100%) !important;
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%) !important;
}

.ebutton{
  border-radius: 40px;
  padding: 10px 25px !important;
  color: #FFF !important;
}

.grad-2-still{
  background-image: -webkit-linear-gradient(to right, #0acffe 0%, #495aff 100%) !important;
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%) !important;
  border: none;
}

.ecaption{
  color: #2b92ff;
}

.grad-2 {
  background: linear-gradient(270deg, #0acffe, #495aff, #00fffa);
  background-size: 600% 600%;

  -webkit-animation: grad-2Move 20s ease infinite;
  -moz-animation: grad-2Move 20s ease infinite;
  animation: grad-2Move 20s ease infinite;
  border: none;
}

@-webkit-keyframes grad-2Move {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes grad-2Move {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes grad-2Move {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.grad-1 {
  background: linear-gradient(270deg, #0a61fe, #00ebdc, #00e2ff);
  background-size: 600% 600%;

  -webkit-animation: grad-1Move 20s ease infinite;
  -moz-animation: grad-1Move 20s ease infinite;
  animation: grad-1Move 20s ease infinite;
}

@-webkit-keyframes grad-1Move {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes grad-1Move {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes grad-1Move {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


// Responsive

@include media-breakpoint-down(xs) { 
  .yourEvents h5{
    font-size: 16px;
  }

  .Toastify__toast {
    margin: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer-widget {
    margin-bottom: 30px;
  }
  .pricing-block {
    margin-bottom: 30px;
  }
  .img-block img {
    width: 130px;
  }
}

@media (max-width: 575.98px) {
  .footer-widget {
    margin-bottom: 30px;
  }
  #event-detail{
    figure img{
      width: 100%;
    }
  }
  #event-detail img.image {
    height: auto;
  }
}